    <div class="count">
        <div class="glistw" style="width:100%;">
            <ul class="glistul">
                {foreach name='zuopin_list' item='zuopin'}
                <li class="" id="goods_31815"><a href="{:url('index/goods/goodsDetail',['id'=>$zuopin.id])}" target="_blank" class="daaimg">
                    {if condition="$zuopin.video_url!=''"}
                    <img style="position:absolute; top:0; left:0; width: 60px;height: 60px;" src="__STATIC__/picture/videotag.png"/>
                    {/if}
                    <img class="lazyimg" src="__STATIC__/picture/imghold.gif" data-original="__UPLOAD__/{$zuopin.thumb}" /></a>
                    <div class="zuozinfo" style="height:auto;">
                        <div class="zzup" style="height:25px; line-height:25px;">
                            <a href="{:url('index/goods/goodsDetail',['id'=>$zuopin.id])}" target="_blank">冰种飘花翡翠毛料</a>
                        </div>
                        <div class="zzupb">
                            {if condition="$zuopin.jmoney!=''"}
                            <span class="jiage">¥{$zuopin.jmoney}元</span>
                            {else /}
                            <span class="jiage">议价</span>
                            {/if}
                        </div>
                    </div><a target="_blank" href="{:url('index/goods/goodsDetail',['id'=>$zuopin.id])}" class="yybut huis">查看作品详细 </a><i>{$zuopin.materials}</i>
                </li>
                {/foreach}
            </ul>
            <div class="clear"></div>
            {$page}
        </div>
    </div>
</div>
<div style="clear:both;"></div>
