<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">订单提交</div>
                        <div class="widget-function am-fr">
                            <a onclick="history.back()" class="am-icon-reply">返回</a>
                        </div>
                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        选择收货地址
                                        {foreach name='address' item='item'}
                                        <label class="am-radio">
                                            <input type="radio" name="address_id" value="" data-am-ucheck {if condition="$addressId==$item.id"}checked{/if}>
                                            {$item.address}
                                        </label>
                                        {/foreach}

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                <thead>
                                <tr>
                                    <th>图片</th>
                                    <th>商品</th>
                                    <th>材质</th>
                                    <th>价格</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach name='result' item='item'}
                                <tr class="gradeX">
                                    <td>
                                        <a href="https://www.zhuoyujie.com/index/goods/goodsdetail/id/{$item.id}.html" target="_blank" title="商品详情">
                                        <img src="/public/{$item.thumb}" class="tpl-table-line-img" alt="">
                                        </a>
                                    </td>
                                    <td class="am-text-middle">{$item.title}</td>
                                    <td class="am-text-middle">{$item.materials}</td>
                                    <td class="am-text-middle">￥{$item.jmoney}</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="https://www.zhuoyujie.com/index/goods/goodsdetail/id/{$item.id}.html" target="_blank" title="商品详情">
                                                <i class="am-icon-pencil"></i> 商品详情
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                <!-- more data -->
                                </tbody>
                            </table>
                        </div>
                        <div class="am-cf am-u-lg-12">

                            <div class="am-fr">
                                总计：
                                <span class="am-text-primary">￥</span>
                                <span class="am-text-primary" id="money" style="margin-right:10px;"></span>

                                <a class="am-btn am-btn-warning" onclick="jiesuan()">
                                    <i class="am-icon-shopping-cart"></i>
                                    提交订单
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--删除购物车-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">订单跟踪</div>
        <div class="am-modal-bd">
            你，是否删除此商品？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<script>
$(function () {
    totalMoney();
})
//从购物车中移除 id 是商品id
function removeCart(id) {

//    console.log(id)

    $('#my-confirm').modal({
        relatedTarget: this,
        onConfirm: function(options) {
            var url = "/user/Cart/remove/id/"+id;

            $.ajax({
                url: url,
                success: function (data) {
                    if (data == 'ok') {
                        location.reload(true);
                    }
                }
            })
        },

    });

}
//统计要买的商品总金额
function totalMoney() {
    $.ajax({
        url:'/user/Cart/isBuyMoney',
        success:function (data) {
//            console.log(data);
            $('#money').html(data)
        }
    });
}
//设置改商品要买
function buy(id,obj) {
    var flag=$(obj).prop('checked')?1:0 ;
//    console.log(flag)
    //统计要买
    $.ajax({
        url:'/user/Cart/isBuy/id/'+id+'/flag/'+flag,
        success:function (data) {
            if(data=='ok'){
                totalMoney();
            }
        }

    });


}
//购物车结算
function jiesuan() {
    var str=$('#money').html();
    if(str==0){
        confirm('请选择要购买的商品');
    }else{
        //TODO 结算逻辑
    }
}
</script>