<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">微信扫码支付</div>
                        <div class="widget-function am-fr">
                            <!--<a onclick="history.back()" class="am-icon-reply">返回</a>-->
                        </div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div style="margin-left: 10px;color:#556B2F;font-size:30px;font-weight: bolder;">微信支付-手机扫码完成支付</div><br/>
                        <img alt="模式二扫码支付" src="http://paysdk.weixin.qq.com/example/qrcode.php?data=<?php echo urlencode($imgUrl);?>" style="width:200px;height:200px;"/>
                        <div>请在2小时内完成支付</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
