<div class="count">
    {foreach name="article_list" item="vo"}
    <div class="azpw" style="margin-top:10px;">
        <div class="azimw">
            <img class="loading" src="picture/loader.gif"/>
            <img id="bigshowimages" src="__UPLOAD__{$vo.thumb}"/>
            <ul id="silist">
                {if condition="!empty($vo['photo'])"}
                {foreach name="$vo['photo']" item="imgs"}
                <li class="action">
                    <img big-src="{$imgs}" src="{$imgs}"/>
                </li>
                {/foreach}
                {/if}
            </ul>
        </div>
        <div class="azimw-r" id="goods_32191">
            <div class="inforbox1">
                <h3>{$vo.title}</h3>
                <p>作者：{$vo.author}</p>
                <p>编号：{$vo.materials}</p>
                <p>材质：{$vo.materials}</p>
            </div>
            <!--获奖信息  若无获奖信息，则不显示此段-->
            <div class="inforbox3">
                <h3>作品介绍：</h3>
                <div class="inforcont" style="max-height: 495px; height: auto;">
                    <!-- 尺　　寸：-->
                     <!--高:{$vo.pro_size}mm-->
                    <!--宽:{$vo.pro_size}mm-->
                    <!--厚:{$vo.pro_size}mm-->
                    <!--<br>重　　量：约{$vo.pro_weight}g-->
                    <!--<br>描　　述：{$vo.introduction}-->
                    <!--<br>颜　　色：{$vo.pro_color}-->
                    <!--<br>结　　构：{$vo.pro_structure}-->
                    <!--<br>油　　性：{$vo.pro_oiliness}-->
                    <!--<br>脂　　份：{$vo.pro_fat}-->
                    <!--<br>瑕　　疵：{$vo.pro_defect}-->
                    <br>{$vo.content}
                    <br>作　　者：玉雕界签约玉雕名家白骑通作品，提供玉雕师签名（或盖章）收藏证书。
                    <br>配送时间：付款之时起72小时内发货，正常3-5天到达，特殊情况适当顺延。
                    <br>售后承诺：签收之时起7日内自由退换货，提供完美售后服务。
                    <br>
                    <br>
                </div>
                <div style="float: left; width: 100%; color: #E44841; line-height: 1.4; margin-top: 6px;">
                    温馨提示：{$vo.wanningtip}
                </div>
            </div>
            <!--价格 zone -->
            <div class="pricebox">
                <p>结缘价：￥{$vo.jmoney}元</p>
                <!-- p>APP专享价：￥26730元</p -->
            </div>
            <!--<a style=" float: left; color: #CC0000; width: 100%; text-align: center; font-size: 14px; padding-top: 2%;" href="https://hd.jaadee.com/Home/Index/index.html">收藏玉雕精品，即赠名家墨宝</a>-->
        </div>
    </div>
    {/foreach}
    <div class="clear"></div>

    <div class="atit" id="btit1" style="margin-top:10px;" onClick="artsh('#artcw1','#btit1')"><h3><span>{$vo.n}介绍</span>
    </h3></div>
    <div class="dsinw dsinwn" id="artcw1">
        <div class="dsimgw"><img src="__UPLOAD__/{$vo.c}"></div>
        <div class="danw">
            <h3>{$vo.n}</h3>
        </div>
        <p class="dsjj" style="padding:0;">
         {$vo.introduction}
        </p>
    </div>
    <div class="clear"></div>
    <div class="atit" id="btit2" onClick="artsh('#artcw2','#btit2')"><h3><span class="showart">{$vo.n}更多作品</span></h3></div>
    <div class="goodslist">
        <ul class="shiydsw">
            <li>
                <img style="position:absolute; top:0; left:0;" src="__STATIC__/picture/videotag.png"/>
                <a href="/Goods/12370.html"><img class="lazyimg" src="__STATIC__/picture/imghold.gif"
                                                 data-original="https://ydjimg.jaadee.net/uploads/2017/04/26/d949ba14491.jpg"/></a>
                <div class="infows">
                    <span class="gname">鱼趣</span>
                    <div style="line-height:1.5em;text-align:center;"><span style="color:#F60" class="jiage">已结缘</span>
                    </div>
                </div>
                <i style="width:60px; height:60px; position:absolute; top:0; right:0;">玛瑙</i>
            </li>
        </ul>
        <div class="clear"></div>
        <a class="atit" href="/Goods/?masterid=173" class="artljgm">点击查看更多{$vo.n}玉雕作品</a>
        <div class="clear"></div>
    </div>

</div>
</div>

