<style>
    .h500{
        height: 495px;
    }
    .inforcont-a{
        margin-top: 5px;
        width: 100%;
        height: 230px;
        overflow-y: scroll;
    }
</style>
<style type="text/css">
    button{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin-right: 10px;
        background-size:contain;
    }
    button:focus{
        outline: none;
    }
    /* 新浪微博 */
    .-mob-share-weibo {
        background-image: url( http://f1.webshare.mob.com/code/res/icon/sns_icon_1@2x_b.png )!important;

    }
    /* 腾讯微博 */
    .-mob-share-weixin {
        background-image: url(http://f1.webshare.mob.com/code/res/icon/sns_icon_22@2x_b.png )!important;
    }
    /* QQ空间 */
    .-mob-share-qzone {
        background-image: url(http://f1.webshare.mob.com/code/res/icon/sns_icon_6@2x_b.png)!important;
    }
    /* QQ */
    .-mob-share-qq{
        background-image: url(http://f1.webshare.mob.com/code/res/icon/sns_icon_24@2x_b.png)!important;
    }
</style>
<link href="__STATIC__/css/jq22.css" type="text/css" rel="stylesheet" />
<div class="count">
    <!--该作品 信息 -->
    <div class="azpw" style="margin-top:10px;">
        <div class="azimw">
            <img id="bigshowimages" src="__UPLOAD__{$zuopin.thumb}"/>
            <!--缩略图显示-->
            <ul id="silist">
                {if condition="!empty($zuopin['photo'])"}
                {foreach name="$zuopin['photo']" item="imgs"}
                <li >
                    <img big-src="{$imgs}" src="{$imgs}"/>
                </li>
                {/foreach}
                {/if}
            </ul>
        </div>
        <div class="azimw-r" id="goods_32191">
            <div class="inforbox1">
                <h3>{$zuopin.title}</h3>
                {if condition="$authinfo !=''"}
                <p>作者：{$authinfo.name}</p>
                {/if}
                <p>编号：{$zuopin.goods_num}</p>
                <p>材质：{$zuopin.materials}</p>

            </div>
            <!--获奖信息  若无获奖信息，则不显示此段-->
            <div class="inforbox3">
                <h3>作品介绍：</h3>
                {if condition="$zuopin.video_pic_url != ''"}
                  <div class="inforcont-a" >
                 {else /}
                      <div class="h500" >
                 {/if}
                    {$zuopin.content}
                </div>
                <div style="float: left; width: 100%; color: #E44841; line-height: 1.4; margin-top: 6px;">
                    温馨提示：该作品只有一件
                </div>
            </div>
            <!--价格 zone -->
            <div class="pricebox">
                {if condition="$zuopin.jmoney!=''"}
                <p>结缘价：¥{$zuopin.jmoney}元</p>
                {else /}
                <p>联系客服询价</p>
                {/if}
            </div>
             <div class="pricebox">
                    <p style="height: 30px">
                        <button class="-mob-share-weibo" title="新浪"></button>
                        <button class="-mob-share-qzone" title="QQ空间"></button>
                        <button class="-mob-share-weixin" title="微信"></button>
                        <button class="-mob-share-qq" title="QQ"></button>
                        <script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=25ba90d32ea95"></script>
                    </p>
             </div>

            <!--如果有视频则显示视频，此处后面再调整-->
            {if condition="$zuopin.video_pic_url != ''"}
            <div class="inforbox4">
                <h3>点击查看货品小视频</h3>
                <div class="videobox" id="video">
                    <img class="thumb" src="__UPLOAD__{$zuopin.video_pic_url}">
                    <div class="video-icon">
                        <img src="__STATIC__/images/video.png">
                    </div>
                </div>
            </div>
            {/if}
            <!--视频播放框,及背景遮罩层-->
            <div class="play_box" style="display: none;">
                <div class="videframebg" style="display: block;"></div>
                <div class="videframe "style="display: block;">
                <div id="example_video_1" class="video-js vjs-default-skin vjs-controls-enabled vjs-has-started vjs-playing vjs-user-inactive" style="width: 480px; height: 480px;">
                    <video src="__UPLOAD__{$zuopin.video_url}"  controls width="480px" height="480px" id="player"></video>
                    <a href="javascript:void(0)" class="closebtnico" onclick="closePause()"></a>
            </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

      <!--作品创造流程-->
     {if condition='$zuopin.liucheng!=null'}
    <div class="atit"  style="margin-top:10px;">
        <h3><span>作品创作流程</span></h3>
    </div>
    <div class="focus">
            <div class="focusbox">
                <div class="focusimg">
                    <ul class="fimglist">
                        {foreach name="$zuopin['liucheng']" item="imgs"}
                        <li><img  src="{$imgs}" /></li>
                        {/foreach}
                    </ul>
                </div>
                <div class="focustool">
                    <ul class="ftoollist">
                        {foreach name="$zuopin['liucheng']" item="imgs" key='key'}
                        <li class="on"><a href="javascript:;"><img  src="{$imgs}"><p class="imgname">流程{$key+1}</p></a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>

        <script>

            $(function(){

                var num=$('.fimglist').children().length;
                $('.fimglist').width(1200*num*2);
                $(".ftoollist li").hover(function(){

                    var $this = $(this);

                    $this.addClass("on").siblings().removeClass("on");

                    var $preNumber = $this.index();

                    $(".fimglist li").removeClass("onpre");

                    $(".fimglist li:eq($preNumber)").addClass("onpre");

                    var distance = 1200;

                    distance = distance * $preNumber;

                    distance = distance * -1;

                    $(".fimglist").stop().animate({marginLeft: distance + "px"}, {duration: 500});

                });

            });

        </script>


    </div>
      {/if}

        <!--该作品 作者信息 -->
    <div class="atit" id="btit1" style="margin-top:10px;">
        <h3><span>作者简介</span></h3>
    </div>
    <div class="dsinw dsinwn" id="artcw1">
        <!-- 如果是作品-->
        {if condition="$zuopin.cid==1"}

        <div class="dsimgw">
            <a href="{:url('index/graver/graverDetail',['id'=>$authinfo.id])}"><img src="__UPLOAD__/{$authinfo.thumb}"></a>
        </div>
        <div class="danw">
            <h3>{$authinfo.name}</h3>
        </div>
        <div class="dsjj" style="padding:0;">
            <p>{$authinfo.introduction}</p>
        </div>
        {/if}
    </div>

        <!--该作品 信息end -->

    <div class="atit" id="btit2"><a href="{:url('index/goods/index',['cid'=>$zuopin.cid])}" style="color: #fff"><h3><span class="showart">更多玉雕作品>></span></h3></a></div>
    <div class="goodslist">
        <ul class="shiydsw">
            {foreach name='zuopin_list' item='zuop'}
            <li>
                <!--如果有视频则显示此图片-->
                {if condition="$zuop.video_url !=''"}
                <img style="position:absolute; top:0; left:0;" src="__STATIC__/picture/videotag.png"/>
                {/if}

                <a href="{:url('index/goods/goodsDetail',['id'=>$zuop.id])}">
                    <img class="lazyimg" src="__STATIC__/picture/imghold.gif"
                      data-original="__UPLOAD__{$zuop.thumb}" width="289px" height="289px" style="vertical-align: top;"/>
                </a>
                <div class="infows">
                    <p class="gname">{$zuop.title}</p>
                    <div style="line-height:1.5em;text-align:center;">
                        <!--如果是已经出售了，就显示已结缘，否则显示价格-->
                        {if condition="$zuop.isbonds==1"}
                        <span style="color:#F60" class="jiage">已出售</span>
                        {elseif condition="$zuop.jmoney!=''"/}
                        <span style="color:#fff">¥{$zuop.jmoney}</span>
                        {else/}
                        <span style="color:#fff">议价</span>
                        {/if}


                    </div>
                </div>
                <i style="width:60px; height:60px; position:absolute; top:0; right:0;">{$zuop.materials}</i>
            </li>
            {/foreach}
        </ul>
        <div class="clear"></div>
        <div class="clear"></div>
        <style>
            .comments-block{
            }
            .title{
                background-color: #000;
                text-align: center;
                color: #fff;
                padding:10px 0;
            }
            .comment-list{
                margin-top: 10px;
             border: 1px solid #ececec;
            }
            .comment-list li{
                max-height: 100px;
                padding:10px;
                overflow: hidden;
                display: flex;
                border-bottom:1px solid #ececec;
            }
            .comment-list li .img-box{
                flex:0 0 60px;
            }
            .comment-list li .img-box img{
                width: 60px;
                border-radius: 50%;
            }
            .comment-list li .content-box{
               flex: 1;
                padding-left: 10px;
                float: left;
            }
            .comment-list .tab {
                width: 100%;
            }
            .tab .name {
                color: #1E9FFF;
                margin-right: 15px;
            }
            .tab .time{
                color: #a0a0a0;
            }
            .tab .icon-zan{
                padding: 2px;
                color: #a0a0a0;
                margin-right: 5px;
                float: right;
            }
            .tab .icon-zan.active{
                color: #1E9FFF;
            }
            .tab .num{
                margin-right: 10px;
                float: right;
                color: #a0a0a0;
            }
            .comment-list .comment{
                padding-top: 5px;

            }
            .send-box{
                padding-top: 10px;
                width: 100%;
            }
            .send-box .my{
                padding:10px 0;
                color: #a0a0a0;
            }
            .send-box #user-comment{
                padding:10px;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid  #e0e0e0;
                width: 100%;
                color: #a0a0a0;
                font-size: 16px;
            }
            #user-comment:focus{
                outline: none;
                border: 1px solid #1E9FFF;
            }
            .send-box .btn-box{
                padding: 15px 0;
            }
            .send-box .btn{
                cursor: pointer;
                background-color: #5ecfba;
                border-radius: 5px;
                padding:10px 20px;
                color: #fff;
            }
            .send-box #tip{
                display: none;
                margin-left: 10px;
                font-size: 12px;
                color: #ff3300;
            }
        </style>
        <div class="comments-block">
            <h3 class="title">作品评论</h3>
                <ul class="comment-list">
                    {foreach name='comment_list' item='item'}
                    <li>
                       <div class="img-box">
                           <img src="__UPLOAD__/{$item.head_url}" alt="">
                       </div>
                        <div class="content-box">
                            <div class="tab">
                                <span class="name">{$item.username}</span>
                                <span class="time">{$item.date}</span>
                                <!--<span class="num">1000</span>-->
                                <!--<span class="iconfont icon-zan" title="点赞" onclick="comment_good(this,'{$zuopin.id}')"></span>-->

                            </div>
                            <div class="comment">
                                {$item.comment}
                            </div>
                        </div>
                    </li>
                    {/foreach}

                </ul>
            <div class="send-box">
                    <p class="my">我的评论</p>
                        <textarea name="comment" id="user-comment"  rows="4" placeholder="请输入您的评论"></textarea>


                        {if condition="$Think.session.name!=''"}
                        <p class="btn-box"><a class="btn" onclick="check('{$zuopin.id}')"> 发表评论</a><span id="tip">评论不能为空！</span></p>
                        {else /}
                        <p class="btn-box"><a href="{:url('index/login/login')}" class="btn">去登陆</a></p>
                        {/if}

            </div>
        </div>


    </div>

</div>
</div>
<script>
   $(function () {
       imgShow();
       play();

   })
   function play() {
       $('.play_box').hide();
       $('.videobox').on('click',function () {
           $('.play_box').show();
           var myVideo=document.getElementById("player");
           myVideo.play();
       });
   }
    function closePause() {
       $('.play_box').hide();
    }
   /**
    * 缩略图片hover，点击事件处理
    */
    function imgShow() {
        $('#silist li:first-child').addClass('action')
        var dom=$('#silist li');
        dom.on('click mouseover',function (e) {
            dom.removeClass('action');
            $(this).addClass('action')
            dom.removeClass('action');
            $(this).addClass('action')
            //获取当前缩略图的img src
            var src=$(this).children('img').attr('src');
            $('#bigshowimages').attr('src',src);

        })
    }

   /**
    * 评论点赞
    * @param dom 当前点击dom对象
    * @param id 当前作品id
    */
   function comment_good(dom,id) {
       //1检查是否登录
       $.ajax({
           url:"/index/login/check.html",
           type:'post',
           success:function (isLogin) {
               if(!isLogin){
                   if(confirm('检测到您还未登录，请先登录')){
                       location.href='/index/login/login.html';
                   }
               }else{
                   //---已经登录的用户----
                   //2检测是否已经点赞或者踩
                   var icon=$(dom);

                   if(!icon.hasClass('active')){
                       //之前都没有点亮过
                       icon.addClass('active')
                       var textDom=icon.parent().children('.num');

                       textDom.html(parseInt(textDom.html())+1);

                       // 3发送请求去后台统计用户点赞
                       $.ajax({
                           url:'/index/goodsDetail/comment_good/id/'+id
                       });

                   }else{
                       alert('您已经赞或者踩过了！');
                   }
               }
           }
       });
   }
   //评论提交检查
   function check(id) {

       var comment=$('#user-comment').val().trim();
       if(comment==''){
           $('#tip').show()
           return false;
       }else{
           console.log('zou-----')
           $.ajax({
               url:"/index/goods/comment",
               data:{comment:comment,id:id},
               success:function (ok) {
                   if(ok){
                       //刷新
                       $('#user-comment').html('');
                       location.reload();
                   }
               }
           })
       }


   }

</script>

