.idea
/.idea
/.idea/
.idea/*
*/.idea/
.idea/
composer.lock
*.log
thinkphp
runtime/*
runtime/
/runtime

*._
*._*
._*
._*/*

/public/uploads
*/.DS_Store
.DS_Store
*.iml
*/*.iml

.gradle/
build/
*/build/
gradlew
gradlew.bat

*/bin/
*/gen/
*/out/

*.bak
*.tem
*.temp
