.idea
composer.lock
*.log
thinkphp
runtime
database.php
Connection.php
*._
*._*
._*
._*/*

/public/uploads
uploads.zip
*/.DS_Store
.DS_Store
*.iml
*/*.iml

.gradle/
build/
*/build/
gradlew
gradlew.bat

*/bin/
*/gen/
*/out/

*.bak
*.tem
*.temp
application/database.php
/application/database.php
