
<div class="clear"></div><!--头部end--><!--主体ing-->
<div class="count">
    <div class="xzaddrw">
        <div class="yjtopw"><img src="__STATIC__/picture/yhtop.png"/></div>
        <div class="yjzhong">
            <div class="left">
                <div id="addr1" class="ciinfo" style="display:block;"><img src="__STATIC__/picture/cityinfo4.jpg"/></div>
                <div id="addr2" class="ciinfo"><img src="__STATIC__/picture/cityinfo1.jpg"/></div>
                <div id="addr3" class="ciinfo"><img src="__STATIC__/picture/cityinfo2.jpg"/></div>
                <div id="addr4" class="ciinfo"><img src="__STATIC__/picture/cityinfo3.jpg"/></div>
                <div id="addr5" class="ciinfo"><img src="__STATIC__/picture/cityinfo5.jpg"/></div>
                <div id="addr6" class="ciinfo"><img src="__STATIC__/picture/cityinfo6.jpg"/></div>
                <div id="addr7" class="ciinfo"><img src="__STATIC__/picture/cityinfo7.jpg"/></div>
                <div id="addr8" class="ciinfo"><img src="__STATIC__/picture/cityinfo8.jpg"/></div>
                <a href="javascript:return void(0);" id="outewm" class="djck"></a></div>
            <ul class="ddimg" id="citylist">
                <li><a href="{:url('index/world/xianchang')}" target="_blank" class="addr1"><img src="__STATIC__/picture/city4.jpg"/>
                    <div class="cityinfo"><span class="zwen">昆明</span><span class="ywen">KUNMING</span></div>
                    <div class="cityzzhao"></div>
                </a></li>
                <li><a href="{:url('index/world/xianchang')}" target="_blank" class="addr2"><img src="__STATIC__/picture/city1.jpg"/>
                    <div class="cityinfo"><span class="zwen">北京</span><span class="ywen">BEIJING</span></div>
                    <div class="cityzzhao"></div>
                </a></li>
                <li><a href="{:url('index/world/xianchang')}" target="_blank" class="addr3"><img src="__STATIC__/picture/city2.jpg"/>
                    <div class="cityinfo"><span class="zwen">上海</span><span class="ywen">SHANGHAI</span></div>
                    <div class="cityzzhao" style="display:none;"></div>
                </a></li>
                <li><a href="{:url('index/world/xianchang')}" target="_blank" class="addr4"><img src="__STATIC__/picture/city3.jpg"/>
                    <div class="cityinfo"><span class="zwen">广州</span><span class="ywen">GUANGZHOU</span></div>
                    <div class="cityzzhao"></div>
                </a></li>
                <li><a href="#" target="_blank" class="addr5"><img src="__STATIC__/picture/city5.jpg"/>
                    <div class="cityinfo"><span class="zwen">深圳</span><span class="ywen">SHENZHEN</span></div>
                    <div class="cityzzhao"></div>
                </a></li>
                <li><a href="#" target="_blank" class="addr6"><img src="__STATIC__/picture/city6.jpg"/>
                    <div class="cityinfo"><span class="zwen">郑州</span><span class="ywen">ZHENGZHOU</span></div>
                    <div class="cityzzhao"></div>
                </a></li>
                <li><a href="#" target="_blank" class="addr7"><img src="__STATIC__/picture/city7.jpg"/>
                    <div class="cityinfo"><span class="zwen">青岛</span><span class="ywen">QINGDAO</span></div>
                    <div class="cityzzhao"></div>
                </a></li>
                <li><a href="#" target="_blank" class="addr8"><img src="__STATIC__/picture/city8.jpg"/>
                    <div class="cityinfo"><span class="zwen">香港</span><span class="ywen">HONG KONG</span></div>
                    <div class="cityzzhao"></div>
                </a></li>
            </ul>
        </div>
        <div class="yjfooter"><img src="__STATIC__/picture/yjfooter.png"/></div>
        <div class="clear"></div>
    </div>
</div>
{foreach name='group' item='category'}
<div class="count">
    <div class="cptit"><a class="tita" href="{:url('index/world/zuopin',['mt'=>$category.title.id])}" target="_blank">{$category.title.name}<span>/JADE</span></a><a
            class="more" href="{:url('index/world/zuopin',['mt'=>$category.title.id])}" target="_blank">查看更多</a>
        <div class="clear"></div>
    </div>
    <ul class="shiydsw">
        <!--翡翠-->
        {foreach name='category.list' item='item'}
        <li class="" >
            {if condition="$item.video_url !=''"}
            <img style="position:absolute; top:0; left:0;" src="__STATIC__/picture/videotag.png"/>
            {/if}
            <a href="{:url('index/goods/goodsDetail',['id'=>$item.id])}" target="_blank" class="daaimg" target="_blank">
                <img class="lazyimg" src="__UPLOAD__/{$item.thumb}"
                     data-original="__UPLOAD__/{$item.thumb}" />
            </a>
            <div class="zuozinfo">
                <!-- 添加一个作者的id，方便跳转到对应的作者详情页面-->
                <a href="{:url('index/graver/graverDetail',['id'=>$item.aid])}" target="_blank" class="zzimgaw">
                    <img src="__UPLOAD__/{$item.c}"/>
                </a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="{:url('index/goods/goodsDetail',['id'=>$item.id])}" target="_blank">{$item.title}</a>
                        <a href="{:url('index/graver/graverDetail',['id'=>$item.aid])}" target="_blank">作者：{$item.name}</a>
                    </div>
                    <div class="zzupb">
                        {if condition="$item.jmoney!=''"}
                        <span class="jiage">¥{$item.jmoney}元</span>
                        {else /}
                        <span class="jiage">议价</span>
                        {/if}
                    </div>
                </div>
            </div>
            <!--点赞start-->
            <div class="yybut huis">
                <a target="_blank" href="{:url('index/goods/goodsdetail',['id'=>$item.id])}" class="detail">作品详情 </a>
                <a onclick="click_good(this,'is_good','{$item.id}')" class="icon-box good" title="点赞">
                    <!--用户是否登录,并且点过赞-->
                    {if condition="$Think.session.name!=''&& $item.is_good==1 "}
                    <span class="iconfont icon-zan active " ></span>
                    {else /}
                    <span class="iconfont icon-zan "></span>
                    {/if}
                </a>
                <span>{$item.good_num}</span>
                <a onclick="click_good(this,'is_bad','{$item.id}')" class="icon-box cai" title="踩">
                    {if condition="$Think.session.name!=''&& $item.is_bad==1 "}
                    <span class="iconfont icon-cai active " ></span>
                    {else /}
                    <span class="iconfont icon-cai "></span>
                    {/if}
                </a>
                <span>{$item.bad_num}</span>
            </div>
            <!--点赞end-->

            <i>{$item.materials}</i>
        </li>
    {/foreach}

    </ul>
    <div class="clear"></div>
</div>
{/foreach}


<div class="count">
    <div class="allcp">
        <div class="allcptxt">全部分类<br>ALL CATEGORIES</div>
    </div>
    <ul class="alllist">
        <li><a href="{:url('index/world/zuopin',['mt'=>1])}" target="_blank"><img src="__STATIC__/picture/fl1.jpg"><span>翡 翠</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>6])}" target="_blank"><img src="__STATIC__/picture/fl2.jpg"><span>南 红</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>4])}" target="_blank"><img src="__STATIC__/picture/fl3.jpg"><span>黄龙玉</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>3])}" target="_blank"><img src="__STATIC__/picture/fl4.jpg"><span>玛 瑙</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>3])}" target="_blank"><img src="__STATIC__/picture/fl5.jpg"><span>琥 珀</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>1])}" target="_blank"><img src="__STATIC__/picture/fl6.jpg"><span>红宝石</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>14])}" target="_blank"><img src="__STATIC__/picture/fl7.jpg"><span>金丝玉</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>11])}" target="_blank"><img src="__STATIC__/picture/fl8.jpg"><span>三彩玉</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>9])}" target="_blank"><img src="__STATIC__/picture/fl9.jpg"><span>戈壁玉</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>12])}" target="_blank"><img src="__STATIC__/picture/fl10.jpg"><span>玉 髓</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>8])}" target="_blank"><img src="__STATIC__/picture/fl11.jpg"><span>水沫玉</span></a></li>
        <li><a href="{:url('index/world/zuopin',['mt'=>18])}" target="_blank"><img src="__STATIC__/picture/fl12.jpg"><span>其 它</span></a>
        </li>
        <div class="clear"></div>
    </ul>
</div><!--玉雕师-->
<div class="count">
    <div class="cptit"><a class="tita" href="/" target="_blank">玉雕师阵容<span>/JADE CARVING MASTER</span></a><a
            class="more" href="/" target="_blank">查看更多</a>
        <div class="clear"></div>
    </div>
    <ul class="dastuij">
        {foreach name='auth' item='item'}
        <li><a class="aimg" target="_blank" href="{:url('index/graver/graverDetail',['id'=>$item.id])}"><img src="__UPLOAD__{$item.thumb}"></a><h4><a
                href="{:url('index/graver/graverDetail',['id'=>$item.id])}">{$item.name}</a></h4>
            <div class="clear"></div>
        </li>
        {/foreach}

    </ul>
</div>

<div class="clear"></div>
<div class="clear"></div>
<script src="__STATIC__/js/me.js"></script>
