
<!-- 内容区域 -->
<div class="tpl-content-wrapper">

    <div class="row-content am-cf">

        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">添加系统通知</div>
                        <div class="widget-function am-fr">
                            <a onclick="history.back()" class="am-icon-reply">返回</a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">

                        <form class="am-form tpl-form-line-form" data-am-validator method="post" action="">

                            <div class="am-form-group">
                                <label  class="am-u-sm-3 am-form-label">通知内容 </label>
                                <div class="am-u-sm-9">
                                    <input type="text" required minlength="10" name="notice"  placeholder="至少10个字符">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
