
<!--百叶窗切换-->
<link rel="stylesheet" href="__STATIC__/css/shutter.css">
<div class="shutter">
    <div class="shutter-img">
        <a title="私人定制" href="{:url('index/siren/index')}" data-shutter-title="私人定制"><img src="__STATIC__/picture/siren.jpg" alt="#"></a>
        <a title="民间巧匠" href="{:url('index/mjqj/index')}" data-shutter-title="民间巧匠"><img src="__STATIC__/picture/mjqj.jpg" alt="#"></a>
        <a title="玉石原料" href="{:url('index/yuanliao/index')}" data-shutter-title="玉石原料"><img src="__STATIC__/picture/yuanliao.jpg" alt="#"></a>
        <a title="收藏推荐" href="{:url('index/collect/index')}" data-shutter-title="收藏推荐"><img src="__STATIC__/picture/collect.jpg" alt="#"></a>
        <a title="动态" href="{:url('index/about/dongtai')}" data-shutter-title="动态"><img src="__STATIC__/picture/dongtai.jpg" alt="#"></a>
    </div>
    <ul class="shutter-btn">
        <li class="prev"></li>
        <li class="next"></li>
    </ul>
    <div class="shutter-desc">
        <p>Iron Man</p>
    </div>
</div>
<script src="__STATIC__/js/velocity.js"></script>
<script src="__STATIC__/js/shutter.js"></script>
<script>
    $(function () {
        $('.shutter').shutter({
            shutterW: 1200, // 容器宽度
            shutterH: 450, // 容器高度
            isAutoPlay: true, // 是否自动播放
            playInterval: 3000, // 自动播放时间
            curDisplay: 3, // 当前显示页
            fullPage: false // 是否全屏展示
        });
    });
</script>
<!--百叶窗切换-->

<div class="clear"></div>
<div class="count">
    <div class="tith">
        <h3>玉雕作品</h3>
        <a href="{:url('index/goods/index')}" target="_blank">更多&gt;&gt;</a>
        <div style="clear:both;"></div>
    </div>
    <!--玉雕作品list，保留一个，从后台加载数据渲染-->
    <ul class="shiydsw">
        {foreach name="article_list" item="vo"}
        <!--item-->
        <li class="" id="goods_32034">
            {if condition="$vo.video_url !=''"}
            <img style="position:absolute; top:0; left:0;" src="__STATIC__/picture/videotag.png"/>
            {/if}
            <a href="{:url('index/goods/goodsDetail',['id'=>$vo.id])}" target="_blank" class="daaimg" target="_blank">
                <img class="lazyimg" src="__UPLOAD__/{$vo.thumb}"
                     data-original="__UPLOAD__/{$vo.thumb}" />
            </a>
            <div class="zuozinfo">
                <!-- 添加一个作者的id，方便跳转到对应的作者详情页面-->
                <a href="{:url('index/graver/graverDetail',['id'=>$vo.aid])}" target="_blank" class="zzimgaw">
                    <img src="__UPLOAD__/{$vo.c}"/>
                </a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="{:url('index/goods/goodsDetail',['id'=>$vo.id])}" target="_blank">{$vo.title}</a>
                        <a href="{:url('index/graver/graverDetail',['id'=>$vo.aid])}" target="_blank">作者：{$vo.name}</a>
                    </div>
                    <div class="zzupb">
                        {if condition="$vo.jmoney!=''"}
                        <span class="jiage">¥{$vo.jmoney}元</span>
                        {else /}
                        <span class="jiage">议价</span>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="yybut huis">
                <a target="_blank" href="{:url('index/goods/goodsdetail',['id'=>$vo.id])}" class="detail">作品详情 </a>
                <a onclick="click_good(this,'is_good','{$vo.id}')" class="icon-box good" title="点赞">
                    <!--用户是否登录,并且点过赞-->
                    {if condition="$Think.session.name!=''&& $vo.is_good==1 "}
                    <span class="iconfont icon-zan active " ></span>
                    {else /}
                    <span class="iconfont icon-zan "></span>
                    {/if}
                </a>
                <span>{$vo.good_num}</span>
                <a onclick="click_good(this,'is_bad','{$vo.id}')" class="icon-box cai" title="踩">
                    {if condition="$Think.session.name!=''&& $vo.is_bad==1 "}
                    <span class="iconfont icon-cai active " ></span>
                    {else /}
                    <span class="iconfont icon-cai "></span>
                    {/if}
                </a>
                <span>{$vo.bad_num}</span>
            </div>
            <i>{$vo.materials}</i>
        </li>
        {/foreach}

    </ul>
</div>
<div class="clear"></div>
<div class="count">
    <div class="tith">
        <h3>玉雕名家</h3>
        <a href="{:url('index/graver/index')}" target="_blank">更多&gt;&gt;</a>
    </div>
    <div class="graverlist">
        <ul class="zjul">
            <!--item-->
            {foreach name="grand_list" item="gd"}
            <li>

                <a href="{:url('graver/graverDetail',['id'=>$gd.id])}" target="_blank">
                    <img class="lazyimg" src="__UPLOAD__{$gd.thumb}" />
                </a>
                <span>{$gd.name}</span>
            </li>
            {/foreach}
        </ul>
        <div class="clear"></DIV>
    </div>
</div>

<script src="__STATIC__/js/me.js"></script>

