<style>
    a{
        cursor: pointer;
    }
    .banner{
        width: 100%;
        height: 600px;
        background: url(/public/index/picture/pic03.png) no-repeat;
        background-size:100% 100%;
    }
    .w1200{
        width: 1200px;
        margin:0 auto;
        padding-top: 50px;
    }

    .login-box {
        background-color: #fff;
        width: 350px;
        height: 500px;
        float: right;
        margin-right: 100px;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
    .right {
        width: 100%;
        float: left;
    }
    .right .title-box{
        box-sizing: border-box;
        width: 100%;
        padding:15px;
        border-bottom: 1px solid #e5e5e5;
    }
    .right .title{
        font-size: 18px;
    }
    .right .check-tip{
        font-size: 0px;
        box-sizing: border-box;
    }
    .check-tip .disabled{
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        margin-top: 4px;
        vertical-align: top;
        background: url(/public/index/images/disabled.png) no-repeat;
    }
    .check-tip .text{
        color: #ff2222;
        font-size: 16px;
        vertical-align: top;
    }
    .form-box{
        padding:10px 20px;
    }
    .input-box{
        padding-bottom: 10px;
    }
    .input-box input{
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        line-height: 24px;
        font-size: 18px;
        padding:10px 10px;
    }
    #yzm{
        width: 45%;
        margin-right: 5px;
    }
    #yzm_btn{
        width: 50%;
    }
    .tip{
        padding:10px 0;
        color: #b2b2b2;
    }
    .tip .wang{
        float: right;
        color: #E44841;
    }
    .tip a{
        color: #ff9600;
        cursor: pointer;
    }
    .btn{
        display: block;
        width: 100%;
        height: 47px;
        background: #660000;
        color: #fff;
        font-size: 14px;
        border-radius: 5px;
    }

    .hidden{
        display: none;
    }
</style>
<body>
<div class="banner">
    <div class="w1200">
        <div class="login-box">
            <div class="right" id="login-box">
                <div class="title-box">
                    <h2 class="title">用户注册 </h2>
                    <div class="check-tip hidden">
                        <span class="disabled"></span>
                        <span class="text"></span>
                    </div>
                </div>
                <form action="" method="post" onsubmit="return check()" >
                    <div class="form-box">
                        <div class="input-box">
                            <input type="text" placeholder="用户名" name="user" id="user" autocomplete="off">
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="密码" name="pwd" id="pwd" autocomplete="off" >

                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="确认密码" name="pwd" id="pwd2" autocomplete="false" >
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="手机号" name="pwd" id="phone" autocomplete="false" >
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="验证码" name="pwd" id="yzm" autocomplete="false" >
                            <input type="button" value="点击发送验证码" id="yzm_btn">
                        </div>
                        <p class="tip">
                            <span>已有账号</span>
                            <a href="{:url('index/login/login')}">立即登陆</a>
                        </p>

                        <input class="btn" type="submit" value="注册" >

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<script>
    //登录检查
    function check() {
        var phone=$('#phone').val();
        var pwd=$('#pwd').val();
        console.log(phone)
        var reg=/^[1][3,4,5,7,8][0-9]{9}$/;
        var text='';
        if(phone==''){
            text='手机号码不能为空';
            opt(text);
            return false;
        }
//        if(!reg.test(phone)){
//            text='手机号码不合法';
//            opt(text);
//            return false;
//        }
        if(pwd==''){
            text='密码不能为空';
            opt(text);
            return false;
        }
//        if(pwd.length<6){
//            text='密码长度小于6位';
//            opt(text);
//            return false;
//        }
        return true;
    }
    function opt(text) {
        $('.text').html(text);
        $('.title').addClass('hidden');
        $('.check-tip').removeClass('hidden')
    }
</script>
