
<div class="clear"></div><!--导航-->
<div class="aboutbox clean">
    <div class="box">
        <div class="box-l">
            <ul class="navlist">
                <li><a href="index.html">玉雕界简介</a></li>
                <li><a href="changguan.html">深圳馆全貌</a></li>
                <li><a href="howbuy.html">如何购买</a></li>
                <li><a href="aftersale.html">售后服务</a></li>
                <li><a href="contact.html" style="border: none;">联系我们</a></li>
            </ul>
        </div>
        <div class="box-r">
            <div class="title"><h3>线下小品馆</h3>
                <p>Offline Gallery</p></div>
            <div class="box" id="box1" >
                <div class="textbox mt20"><h3 class="align-c mt20" style="color: #3f1320;">翡翠王朝丨玉雕界名家小品馆平洲馆</h3>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery01.jpg"/></p>
                    <p class="align-c">地处珠江三角洲腹地广东佛山<br> 馆址位于佛山市南海区平州玉器街翠宝园3栋46号
                        <br>东倚广州，南邻港澳
                        <br>平洲也是是主要国内最大翡翠市场之一
                        <br>众多从事翡翠雕刻在此汇聚
                        <br>每日客商往来不断
                    </p>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery02.jpg"/></p>
                    <p class="align-c">玉雕界·平洲馆也是GTC珠宝玉石鉴赏实训基地<br>目前馆藏作品包含翡翠、南红、水晶、玛瑙等名家作品</p>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery03.jpg"/></p>
                    <p class="align-c">平洲馆是玉雕界在广东地区的办事处<br> 及线下藏友体验馆
                        <br>主要对接平洲、揭阳等周边地区
                        <br>玉雕师及工作室的业务
                        <br>同时，也在四会设有办事处
                        <br>（四会办事处：广东省肇庆市四会市国际玉器城综合区A118）
                    </p>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery04.jpg"/></p>
                    <p class="align-c">目前，玉雕界已签约来自云南瑞丽、昆明，<br> 广东平洲、四会、揭阳，<br> 天津，上海及苏州的140余位玉雕名家。
                    </p>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery04.jpg"/></p>
                    <p class="align-c">广东地区目前<br> 已入驻的玉雕师和工作室包括
                        <br> 陈义、张炳光、李克生、张森才、蒋红兵、施宗颖、刘庆峰、梁容区等玉雕名家。
                    </p>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery06.jpg"/></p>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery07.jpg"/></p>
                    <h3 class="align-c mt20" style="color: #3f1320;">平洲馆部分作品欣赏</h3>
                    <p class="align-c mt20"><img class="img" src="__STATIC__/picture/gallery08.jpg"/><img class="img"
                                                                                               src="__STATIC__/picture/gallery09.jpg"/><img
                            class="img" src="__STATIC__/picture/gallery10.jpg"/><img class="img" src="__STATIC__/picture/gallery11.jpg"/><img
                            class="img" src="__STATIC__/picture/gallery12.jpg"/><img class="img" src="__STATIC__/picture/gallery13.jpg"/><img
                            class="img" src="__STATIC__/picture/gallery14.jpg"/><img class="img" src="__STATIC__/picture/gallery15.jpg"/><img
                            class="img" src="__STATIC__/picture/gallery16.jpg"/></p></div>
            </div>
            <div class="textbox mt30"><p><b>附：翡翠王朝•玉雕界名家小品馆全国地址</b></p>
                <p>广东·平洲馆：佛山市南海区平州玉器街翠宝园3栋46号</p>
                <p>云南·瑞丽馆：瑞丽市金星石木文化城15栋1号</p>
                <p>江苏·苏州馆：苏州市姑苏区园林路52号</p>
                <p>河南·郑州馆：郑州市金水区北环路52号瀚海爱特中心A塔406</p>
                <p>四川·绵阳馆：绵阳市游仙区小岛花园2期4号门半雲会所</p></div>
        </div>
    </div>
</div>
