<style>
    .gzh{
        padding-left: 22px;
    }
    .left{
        float: left;
        padding-left: 60px;
        padding-right: 40px;
    }
    .right{
        float: left;
    }
    .img-box{
        width: 250px;
    }
    .kefu li{
        padding:8px 0;

    }
</style>
<div class="aboutbox clean">
    <div class="box">
        <div class="box-l">
            <ul class="navlist">
                <li><a href="index.html">琢玉界简介</a></li>
                <li><p>实体展馆</p>
                    <div class="downlist">
                           <a href="gallery.html?boxid=1">深圳展馆全貌</a><br/>
                    </div>
                </li>
                <li><a href="howbuy.html">如何购买</a></li>
                <li><a href="aftersale.html">售后服务</a></li>
                <li><a href="contact.html" style="border: none;">联系我们</a></li>
            </ul>
        </div>
        <div class="box-r">
            <div class="title"><h3>联系我们 </h3>
                <p>Contact us</p></div>
            <div class="textbox">
                <div class="box">
                    <div class="min-title">展馆地址 Offline Gallery</div>
                    <div class="box"><p><b>琢玉界展馆全国地址</b></p>
                        <p>广东·深圳展馆：深圳市宝安区创业二路一巷27号</p>
                </div>
                <div class="box">
                    <div class="min-title">微信公众号 Official WeChat Account</div>
                    <div class="box">
                        <div class="gzh">
                            <img width="250" height="250" src="__STATIC__/picture/ysjewm.jpg"/>
                            <p>琢玉界订阅号:玉魂琢玉界</p >
                       </div>
                    </div>
                </div>
                <div class="box">
                    <div class="min-title">微信客服 WeChat customer service</div>
                    <div class="left">
                        <div class="img-box"><img width="250" height="250" src="__STATIC__/picture/kefu1.jpg"/></div>
                        <ul class="kefu">
                            <li>加微信号：zz229601195-（微信客服1）</li>
                            <li>加微信号：c13714287178（微信客服2）</li>
                            <li>加微信号：wxid_jnhsbl0b09gz22（微信客服3）</li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="img-box"><img width="250" height="250" src="__STATIC__/picture/kefu1.jpg"/></div>
                        <ul class="kefu">
                            <li>加微信号：zz229601195-（微信客服1）</li>
                            <li>加微信号：c13714287178（微信客服2）</li>
                            <li>加微信号：wxid_jnhsbl0b09gz22（微信客服3）</li>
                        </ul>
                    </div>

                </div>
                <div class="box">
                    <div class="min-title">微博地址 Weibo</div>
                    <div class="box"><p>新浪微博：https://weibo.com/6518588693( 可点击直接访问新浪微博手机触屏版)</p></div>
                </div>
                <div class="box">
                    <div class="min-title">投诉建议 Complaint and suggestion</div>
                    <div class="box"><p>1、您可以发送电子邮件至229601195@qq.com进行投诉或建议</p>
                        <p>2、你可以通过微信公众号：玉魂琢玉界</p>
                        <p>3、投诉电话： 13510477398 （运营总监：何生） </p></div>
                </div>
            </div>
        </div>
    </div>
</div>

