
<div class="clear"></div><!--导航-->
<div class="aboutbox clean">
    <div class="box">
        <div class="box-l">
            <ul class="navlist">
                <li><a href="index.html">琢玉界简介</a></li>
                <li><a href="changguan.html">深圳馆全貌</a></li>
                <li><a href="howbuy.html">如何购买</a></li>
                <li><a href="aftersale.html">售后服务</a></li>
                <li><a href="contact.html" style="border: none;">联系我们</a></li>
            </ul>
        </div>
        <div class="box-r">
            <div class="title"><h3>购买方式 </h3>
                <p>Ways to buy</p></div>
            <div class="buybox"><h3>用户注册登录购买</h3>
                <p>用户注册登录用户后台，随时下单购买</p>
                <p class="align-c mt20"><!--img class="img" src="picture/downapp.jpg"/></p-->
            </div>
            <!--<div class="buybox"><h3>APP客户端购买</h3>-->
                <!--<p>下载APP随时随地挑选满意宝贝，联系APP内客服购买</p>-->
                <!--<p class="align-c mt20"><img class="img" src="picture/downapp.jpg"/></p></div>-->
            <div class="buybox"><h3>微信购买</h3>
                <p>选择满意宝贝后，点击联系微信客服，选择在线咨询购买。</p>
                <ul class="mt20">
                    <li>客服：zz229601195-</li>
                    <li>客服：c13714287178</li>
                    <li>客服：wxid_jnhsbl0b09gz22</li>
                </ul>
            </div>
            <div class="buybox"><h3>电话订购</h3>
                <p>您在琢玉界上看到心仪的宝贝后，可电话联系下单。</p>
                <p class="mt20">订购热线：</p>
                <ul>
                    <li>小秦：0755-33618360</li>
                    <li>小波：13510477398</li>
                    <li>阿荣：13714287178</li>
                    <li>潘小姐：13600432323</li>
                </ul>
            </div>
        </div>
    </div>
</div>
