
<!-- 内容区域 -->
<div class="tpl-content-wrapper">

    <div class="row-content am-cf">

        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">添加私人定制</div>
                        <div class="widget-function am-fr">
                            <a onclick="history.back()" class="am-icon-reply">返回</a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-line-form" method="post" action="" data-am-validator>

                            <div class="am-form-group ">
                                <label  class="am-u-sm-3 am-form-label">定制商品 </label>
                                <div class="am-u-sm-9 am-form-file">
                                    <input type="text" class="" name="goods_name"  value="" required>
                                </div>
                            </div>
                            <div class="am-form-group ">
                                <label  class="am-u-sm-3 am-form-label">材料 </label>
                                <div class="am-u-sm-9 am-form-file">
                                    <input type="text" class="" name="materials"  value="" required >
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>