<!-- 内容区域 -->
<style>
    .am-control-thumbs li {
        width: 25%; /* n 为轮播图数量 */
    }
    .am-slider-default .am-control-thumbs li{
        position: relative;
    }
    .time{
        position: absolute;
        text-align: center;
        font-style: italic;
        width: 100%;
        bottom: 0;
        left: 0;
        margin:0;
        background-color: rgba(0,0,0,0.3);
        color: #fff;

    }
</style>
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-fl">私人定制流程</div>
                        <div class="widget-function am-fr">
                            <a onclick="history.back()" class="am-icon-reply">返回</a>
                        </div>

                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-lg-5 am-u-md-6">
                            <h4>作品进展</h4>
                            <!--轮播图-->
                            <div  class="am-slider am-slider-default"
                                    data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
                                <ul class="am-slides">
                                    {foreach name='result.img_list' item='item'}
                                    <li data-thumb="{$item.img}">
                                        <img src="{$item.img}" />
                                        <p class="time">{$item.date}</p>
                                    </li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload=function () {
        var arr={$result};
        var img_list=arr.img_list;
        console.log(img_list)
        var dateList=[];
        for(var i=0;i<img_list.length;i++){
            dateList[i]=img_list[i]['date'];
        }
        console.log(dateList)

        $('.am-control-thumbs li').each(function (i,item) {
            var tpl='<p class="time">'+dateList[i]+'</p>';
            console.log(item)
            $(item).append($(tpl))
        })
    }
</script>