<!-- 内容区域 -->
<style>
    .am-control-thumbs li {
        width: 25%; /* n 为轮播图数量 */
    }
</style>
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-fl">私人定制流程</div>
                        <div class="widget-function am-fr">
                            <a onclick="history.back()" class="am-icon-reply">返回</a>
                        </div>

                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-lg-5 am-u-md-6">
                            <h4>作品进展</h4>
                            <!--轮播图-->
                            <div  class="am-slider am-slider-default"
                                    data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
                                <ul class="am-slides">
                                    {foreach name='result.img_list' item='item'}
                                    <li data-thumb="{$item}">
                                        <img src="{$item}" /></li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>