<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">


        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">{$title}</div>
                    </div>
                    <div class="widget-body widget-body-lg am-fr">
                        <div class="am-scrollable-horizontal">
                            <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                                <thead>
                                <tr>
                                    <th>图片</th>
                                    <th>订单号</th>
                                    <th>商品</th>
                                    <th>材质</th>
                                    <th>价格</th>
                                    <th>下单时间</th>
                                    <th>物流信息</th>
                                    <th>收货/退货</th>
                                    <th>收货/退货时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach name='result' item='item'}
                                <tr class="gradeX">
                                    <td>
                                        <a href="https://www.zhuoyujie.com/index/goods/goodsdetail/id/{$item.goods_id}.html" target="_blank">
                                        <img src="/public/{$item.thumb}" class="tpl-table-line-img" alt="">
                                        </a>
                                    </td>
                                    <td class="am-text-middle">{$item.order_number}</td>
                                    <td class="am-text-middle">{$item.title}</td>
                                    <td class="am-text-middle">{$item.materials}</td>
                                    <td class="am-text-middle">￥{$item.jmoney}</td>
                                    <td class="am-text-middle">{$item.add_time}</td>
                                    <td class="am-text-middle">{$item.wuliu}</td>
                                    <!--确认收货，和退货颜色状态显示-->

                                    {switch name='$item.complete_status'}
                                    {case value='确认收货'}
                                    <td class="am-text-middle am-text-success">{$item.complete_status}</td>
                                    {/case}
                                    {case value='退货请求'}
                                    <td class="am-text-middle am-text-danger">
                                        <span>{$item.complete_status}</span><br/>
                                        <span>{$item.sell_order_status}</span></td>
                                    {/case}
                                    {default/}
                                    <td class="am-text-middle am-text-warning">{$item.complete_status}</td>
                                    {/switch}

                                    <td class="am-text-middle">{$item.complete_time}</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="https://www.zhuoyujie.com/index/goods/goodsdetail/id/{$item.id}.html" target="_blank">
                                                <i class="am-icon-ellipsis-v"></i> 商品详情
                                            </a>
                                            {if condition="$item.complete_status=='待收货'"}
                                            <a onclick="shou_huo('{$item.goods_id}','shou')" class="tpl-table-black-operation-succ" >
                                                <i class="am-icon-check"></i> 确认收货
                                            </a>
                                            {/if}

                                            {if condition="$item.complete_status!='退货请求'"}
                                            <a onclick="shou_huo('{$item.goods_id}','tui')" class="tpl-table-black-operation-del">
                                                <i class="am-icon-reply"></i> 退货
                                            </a>
                                            {/if}
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}

                                <!-- more data -->
                                </tbody>
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                {$result->render()}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--删除购物车-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">商品跟踪</div>
        <div class="am-modal-bd">
            您，是否删除此商品？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<script>
    function shou_huo(id,flag) {
        var msg='';
        var status=''
        if(flag=='shou'){
            $('.am-modal-bd').html('您，是否确认收货？');
            status='确认收货'
        }else{
            $('.am-modal-bd').html('请您与卖家联系，确认是否可以退货！');
            status='退货请求'
        }
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                var url='/user/Order/setCompleteStatus/id/'+id+'/status/'+status;
                $.ajax({
                    url:url,
                    success:function (data) {
                        if(data=='ok'){
                            location.reload(true);
                        }
                    }
                })
            },

        });

    }

</script>