.focus{width:1200px; height:536px; margin-top:10px;}
.focusbox{ width:100%;}
.focusimg{ width:100%; height:425px;  overflow:hidden;}
.fimglist{ heigth:100%; overflow: hidden;}
.fimglist img{ width:100%; height:100%; }
.fimglist li{width:1200px; height:100%; float:left;-webkit-transform-origin:50% 100%;transform-origin:50% 100%;}

.focustool{width:1200px; overflow:hidden; padding:5px 0 10px; margin:0 auto; position:relative;}
.ftoollist{width:1200px; position:relative;overflow: hidden;}
.ftoollist img{display:block; width:120px; height:80px; margin-bottom:3px;}
.ftoollist a{ display:block; width:129px; padding:4px 0 4px 4px; position:relative;-webkit-transition:all .3s linear;transition:all .3s linear;}
.ftoollist li{float:left; cursor:pointer; -webkit-transition:all .3s linear; transition:all .3s linear;}
.ftoollist .imgname{line-height:25px; text-align:center; color:#999; font-family:\5FAE\8F6F\96C5\9ED1; font-weight:400; font-size:14px; height:25px; overflow:hidden; cursor:pointer;}
.ftoollist .imgshortcat{line-height:20px; text-align:center; color:#7D7D7D; font-size:12px; height:20px; overflow:hidden; cursor:pointer;}
.ftoollist a img:hover{ border: 1px solid #f00;}
.ftoollist .on .imgname{color:#000; font-size: 14px;}
.ftoollist .on .imgshortcat{color:#FFF;}