<style>
        .intro{float:right;width:880px;}
        .shiydsw li a{ width:100%;
                height: 289px;background:url(/public/index/images/load.gif) center no-repeat;}
        .shiydsw li a img{
                vertical-align: top;
                width: 289px;
                height: 289px;
        }

        .leftrow{width:300px;float:left;}
        .leftrow .zzheimg{border:1px solid #ccc;width:298px;}
        .leftrow .zzheimg img{width:298px;}
        .position{margin:20px auto;border-bottom:1px solid #ccc;line-height:30px;}

        .rightrow{width:880px;float:right;}
        .rightrow h3 {
                border-bottom: 1px solid #ccc;
                font-size: 30px;
                font-weight: normal;
                line-height: 40px;
                padding-top: 30px;
                text-indent: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
        }
        .rightct{
                text-indent:2em;color:#555;line-height:170%;
        }

        .rightrow .yishucj  {text-align:left;text-indent:0em; background-color:#FAFAFA;padding:30px;padding-left:40px;}

        .title{
                text-align: center;
                padding:10px 0;
                border-bottom:1px solid #999;
        }
        .book-content{
                padding:50px;
                text-align: center;
                border: 1px solid #e0dfe1;
        }
        .search-record{
                margin-top: 10px;
        }
        .title2{
                padding:10px 0;
                padding-bottom: 10px;
        }
        .table{
                width: 100%;
        }
        .table tr{
                display: block;
                width: 100%;
                padding:5px 0;
                border-bottom:1px solid #999;

        }
        .table tr th,td{
                text-align: left;
                min-width:200px;
        }
</style>

<div class="count">
        {if condition="$status != '0' "}
        <h2 class="title">查询结果</h2>
        <h3 class="title2">作者简介</h3>
        <div class="leftrow">
                <div class="zzheimg"><img src="__UPLOAD__/{$book.head}"/></div>
        </div>
        <div class="rightrow"><h3>{$book.name}</h3>
                <div class="rightct">
                        {$book.introduction}
                </div>
                <div class="clear"></div>
        </div>

        <div class="clear"></div>
        <!--查询证书内容-->
        <h3 class="title2">查询证书内容</h3>
        <div class="book-content">
                {$book.content}
        </div>
        <!--查询历史记录-->
        <div class="search-record">
                <h3 class="title2">查询历史记录</h3>
                <table class="table">
                        <tr>
                                <th>序号</th>
                                <th>查询时间</th>
                                <th>ip地址</th>
                        </tr>
                        {foreach name="record_list" item="item" key='key'}
                        <tr>
                                <td>{$key+1}</td>
                                <td>{$item.time}</td>
                                <td>{$item.ip}</td>
                        </tr>
                        {/foreach}
                </table>
        </div>
        {/if}
        {if condition="$status==0"}
        {$book}
        {/if}
</div>
<div class="clear"></div>
</div>
