    <div class="count">
        <ul class="shiydsw">
            {foreach name='$zuopin_list' item='zuopin'}
            <li class="" id="goods_32049">
                {if condition="$zuopin.video_url !=''"}
                <img style="position:absolute; top:0; left:0;" src="__STATIC__/picture/videotag.png"/>
                {/if}
                <a href="{:url('index/goods/goodsDetail',['id'=>$zuopin.id])}" target="_blank" class="daaimg" target="_blank">
                    <img class="lazyimg" src="__STATIC__/picture/imghold.gif"data-original="__UPLOAD__/{$zuopin.thumb}"/></a>
                <div class="zuozinfo">
                    <a href="{:url('index/graver/graverDetail',['id'=>$zuopin.aid])}" target="_blank" class="zzimgaw"><img
                            src="__UPLOAD__/{$zuopin.c}"/></a>
                    <div class="zzzpw">
                        <div class="zzup">
                            <a href="{:url('index/goods/goodsDetail',['id'=>$zuopin.id])}" target="_blank">{$zuopin.title}</a>
                            <a href="{:url('index/graver/graverDetail',['id'=>$zuopin.aid])}" target="_blank">作者：{$zuopin.name}</a>
                        </div>
                        <div class="zzupb">
                            {if condition="$zuopin.jmoney!=''"}
                            <span class="jiage">¥{$zuopin.jmoney}元</span>
                            {else /}
                            <span class="jiage">议价</span>
                            {/if}

                        </div>
                    </div>
                </div>
                <div class="yybut huis">
                    <a target="_blank" href="{:url('index/graver/graverDetail',['id'=>$zuopin.id])}" class="detail">作品详情 </a>
                    <a onclick="goods(this,1)" class="icon-box">
                        <img src="__STATIC__/images/good.png" alt="">
                    </a>10
                    <a onclick="goods(this,0)" class="icon-box">
                        <img src="__STATIC__/images/bad.png" alt="">
                    </a>1000
                </div>

                <i>{$zuopin.materials}</i>
            </li>
            {/foreach}
        </ul>
        <!--分页-->
        <div class="clear"></div>
        {$page}
        <div style="clear:both;"></div>
    </div>
</div>
<script src="__STATIC__/js/me.js"></script>