    <div class="count">
        <ul class="shiydsw">
            <li class="" id="goods_4398"><a href="{:url('index/goods/goodsDetail')}" target="_blank" class="daaimg"><img class="lazyimg" src="__STATIC__/picture/imghold.gif" data-original="__STATIC__/picture/zuoping.jpg" /></a>
                {if condition="true"}
                <img style="position:absolute; top:0; left:0;width: 60px;height: 60px;" src="__STATIC__/picture/videotag.png"/>
                {/if}
                <div class="zuozinfo">
                    <a href="{:url('index/graver/graverDetail')}" target="_blank" class="zzimgaw"><img src="__STATIC__/picture/yudiaoshi.jpg" /></a>
                    <div class="zzzpw">
                        <div class="zzup">
                            <a href="{:url('index/goods/goodsDetail')}" target="_blank">牧马青山</a>
                            <a href="{:url('index/graver/graverDetail')}" target="_blank">作者：李斯</a>
                        </div>
                        <div class="zzupb">
                            <span style="color:#F60" class="jiage">已结缘</span>
                        </div>
                    </div>
                </div><a target="_blank" href="{:url('index/goods/goodsDetail')}" class="yybut huis">查看作品详细 </a><i>玛瑙</i></li>
        </ul>
        <!--分页-->
        <div class="clear"></div>
        <ul class="cplispage">
            <span class="pageinfo">76 条记录 2 页 </span>
            <span class="current">1</span>
            <a href="/Collection/index/p/2.html">2</a>
            <a href="/Collection/index/p/2.html">下一页</a>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>
