<style>
    .dastuij{ width:1208px; height:auto; float:left;}
    .dastuij li{ width:191px; height:226px; margin-right:10px; background:#fff; float:left; margin-bottom:10px; display:inline-block;}
    .dastuij li .aimg{ width:191px; height:191px; float:left; overflow:hidden; background: url(images/load_1.gif) center no-repeat;}
    .dastuij li .aimg img{ width:191px; height:191px;float:left;}
    .dastuij li:hover .aimg img{width:193px; height:193px; margin-left:-1px; margin-top:-1px; }
    .dastuij h4{ background:#4D4240; width:100%; float:left;}
    .dastuij h4 a{ width:100%; height:35px; line-height:35px; color:#FFF; text-align:center; float:left;}
</style>
<div class="clear"></div>
<div class="clear"></div>
<div class="count">
        <ul class="dastuij" style="margin-top:10px;">
            <!--作者列表-->
   {foreach name="authList" item='auth'}
    <li>
        <a class="aimg" target="_blank" href="{:url('index/graver/graverDetail',['id'=>$auth.id])}">
            <img class="lazyimg" src="__STATIC__/picture/imghold.gif"
                 data-original="__UPLOAD__/{$auth.thumb}" />
        </a>
        <!--点击传入作者的id-->
        <h4><a href="{:url('index/graver/graverDetail',['id'=>$auth.id])}">{$auth.name}</a></h4>
        <div class="clear"></div>
    </li>
     {/foreach}
    </ul>

    </div>
    <div>{$page}</div>
