<style>
    .intro{float:right;width:880px;}
    .shiydsw li a{ width:100%;float:left;background:url(/static/ydj/images/load.gif) center no-repeat;}
    .shiydsw li a img{float: left; width: 100%;}

    .leftrow{width:300px;float:left;}
    .leftrow .zzheimg{border:1px solid #ccc;width:298px;}
    .leftrow .zzheimg img{width:298px;}
    .position{margin:20px auto;border-bottom:1px solid #ccc;line-height:30px;}

    .rightrow{width:880px;float:right;}
    .rightrow h3 {
        border-bottom: 1px solid #ccc;
        font-size: 30px;
        font-weight: normal;
        line-height: 40px;
        padding-top: 30px;
        text-indent: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .rightct{
        text-indent:2em;color:#555;line-height:170%;
    }

    .rightrow .yishucj  {text-align:left;text-indent:0em; background-color:#FAFAFA;padding:30px;padding-left:40px;}
    .zuopinlist{width:300px;}
    .zuopinlist li{width:140px;border:1px solid #ccc;margin:0px auto;margin-bottom:10px;float:left;text-align:center;clear:left;}
    .zuopinlist li.rt{float:right;clear:right;}
    .zuopinlist li img{width:100%;}
    .morepg{display:block;clear:both;text-align:center;margin-top:10px;border:1px solid #ccc;background-color:#EEE;color:#333;text-decoration:none;line-height:30px;}
    .zuopinul{margin-top:5px;}
    .zuopinul .gname{display:block;background-color:#EEE;text-align:center;line-height:25px;}
    .position{padding-left:5px;color:#555;}
    .position a{color:#600;}
</style>
<div class="count">
        <div class="position"><a href="/">琢玉界</a><span>>></span><a href="graver.html">玉雕名家</a><span>>></span>{$grandDetail.name}
        </div>
        <div class="leftrow">

            <div class="zzheimg"><img src="__UPLOAD__{$grandDetail.thumb}"/></div>


        </div>
        <div class="rightrow"><h3>{$grandDetail.name}</h3>
            <div class="rightct">
                {$grandDetail.introduction}
            </div>
            <div class="clear"></div>
            <h3 style="margin-bottom:0px;">艺术成就</h3>
            <div class="rightct yishucj">
                　　{$grandDetail.content}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="goodslist">
            <div class="atit "><h3><span class="">玉雕作品（共1件）</span></h3></div>
            <ul class="shiydsw">
                <li><a href="/Goods/2239.html"><img class="lazyimg" src="__STATIC__/picture/imghold.gif"
                                                    data-original="https://ydjimg.jaadee.net/uploads/2015/07/03/70b155961c19.jpg"/></a>
                    <div class="infows"><span class="gname">绽</span><span class="spjy">请联系客服询价</span></div>
                    </span></li>
            </ul>
            <div class="clear"></div>
            <a class="atit" href="/Goods/?masterid=13" class="artljgm">点击查看更多(1件)玉雕作品</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
